:root {
    --sectionmargin: 5%;
    --borderreddown: 30px;

}

* {
    padding: 0;
    margin: 0;
}

section {
    height: 600px;
}

section div.main {
    height: 100%;
    display: flex;
}

/* Start Left Div  */
section div div.left {
    margin-left: var(--sectionmargin);
    height: 100%;
    flex: 1;
    display: flex;
    /* gap:12%; */
    flex-direction: column;

}

section div div.left div.logo {
    flex: .2;
    display: flex;
    align-items: center;
    /* background-color: bisque; */
    margin-bottom: 60px;
}

section div div.left div.text {
    flex: 1;
    display: flex;
    /* gap: 1px; */
    font-size: larger;
    flex-direction: column;
}

section div div.left div.text div.headline {
    font-size: xx-large;
    margin-right: 35%;
    margin-bottom: 2%;
    font-weight: bold;

}

section div div.left div.text div.ptext {
    margin-right: 20%;

}

section div div.left div.button {
    /* background-color: rgb(246, 84, 235); */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section div div.left div.button button.btn {
    padding: 18px 55px;
    border: none;
    border-radius: 14px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: hwb(242 0% 36%);
}

section div div.left div.button button.btn:hover {
    background-color: hwb(235 49% 0%);
}











/* End Left Div */

/* Start right div */
section div div.right {
    margin-right: var(--sectionmargin);
    background-color: rgb(50, 100, 236);
    height: 100%;
    flex: 1;
    /* div content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-bottom-left-radius: 100px;
    background-image: url("../assets/images/4.png");
    background-size: cover;
}

/* right top div */
section div div.right div.top {
    /* background-color: aqua; */
    /* flex: .1; */
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    align-items: center;
}


section div div.right div.top div.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

section div div.right div.top div.nav ul li {
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    border-radius: 35px;
    color: white;
    background-color: rgba(141, 96, 247, 0.25);
}

section div div.right div.top div.nav ul li:hover {

    background-color: rgba(54, 27, 186, 0.25);
}

section div div.right div.top div.sign button.button {
    padding: 13px;
    border: 1px rgb(255, 255, 255) solid;
    font-weight: bold;
    border-radius: 35px;
}










/* right down div */
section div div.right div.down {
    /* background-color: rgb(34, 46, 50); */
    /* flex:1.12; */
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
}


section div div.right div.down div.dleft {
    width: 30%;
    height: 70%;
    background-color: white;
    border: none;
    border-radius: var(--borderreddown);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

section div div.right div.down div.dright {
    width: 30%;
    height: 70%;
    background-color: white;
    border: none;
    border-radius: var(--borderreddown);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}





/* End right Div */