:root {
    --sectionmargin: 5%;

}

* {
    padding: 0;
    margin: 0;
}

section {
    height: 700px;
}

section div.main {
    height: 100%;
    display: flex;
}

/* Start Left Div  */
section div div.left {
    margin-left: var(--sectionmargin);
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

}

section div div.left div.logo {
    flex: .4;
    display: flex;
    align-items: center;
}

section div div.left div.text {
    flex: 1;
    display: flex;
    font-size: larger;
    flex-direction: column;
}

section div div.left div.text div.headline {
    font-size: xx-large;
    margin-right: 35%;
    margin-bottom: 2%;
    font-weight: bold;

}

section div div.left div.text div.ptext {
    margin-right: 20%;

}

section div div.left div.button {
    /* background-color: rgb(246, 84, 235); */
    flex: .9;
}

section div div.left div.button button.btn {
    padding: 18px 55px;
    border: none;
    border-radius: 14px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: hwb(242 0% 36%);
}













/* End Left Div */

/* Start right div */
section div div.right {
    margin-right: var(--sectionmargin);
    background-color: rgb(50, 100, 236);
    height: 100%;
    flex: 1;
}

/* End right Div */